/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #000000;
}

#navegacao {
	background: rgb(255, 255, 255);
	border-bottom: 1px solid #000000;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
	opacity:70%
}

#area {
	width: 720px;
	margin: 0 auto;
}

#area-principal {
	width: 720px;
	margin: 55px auto 10px auto;
}

#logo {
	float: left;
}

#menu {
	float: right;
	padding: 10px 0;
}

#postagem {
	background: rgb(151, 49, 49);
	padding: 10px;
	margin-bottom: 0px;
}

h2 {
	color: #ffffff;
}

/****************************************************
***********************Formatação do menu************/
a {
	text-decoration: none;
	padding: 5px 10px;
}
/*Links não visitados*/
a:link {
	color: #ff0000;
}

/*Links vistados*/
a:visited {
	color: #ff0000;
}

/*Links hover*/
a:hover {
	color: rgb(255, 0, 0);
	background: #000000;
}

/*Links active*/
a:active {
	color: #000000;
}


/*Classes*/
.verde {
	color: #ff0000;
}
.branco {
	color: #000000;
}

.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid #ffffff;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem{
	float: left;
	margin:0 10px 0px 0;
}

.postado {
	border-left: 5px solid #000000;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}
.alert{
    background-color: #810000;
}
